<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QueuePopDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QueuePopDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QueuePopDesktop.Properties.Settings>
            <setting name="guid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="message" serializeAs="String">
                <value>Your solo shuffle queue is ready.</value>
            </setting>
            <setting name="dont_ask_for_update_version" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="is_first_run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="call_upgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sound_data_update_date" serializeAs="String">
                <value />
            </setting>
        </QueuePopDesktop.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <QueuePopDesktop.Properties.Settings>
            <setting name="base_address" serializeAs="String">
                <value>https://queue-pop-server.vercel.app/</value>
            </setting>
        </QueuePopDesktop.Properties.Settings>
    </applicationSettings>
</configuration>